Package: com.shepgoba.customautolock12
Name: CustomAutoLock12
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Custom auto lock on iOS 11+
Maintainer: shepgoba
Author: shepgoba
Section: Tweaks
